{% import "shared/_table_macros.html" as table_macros %}
<tr id="inbox-thead">
  <th class="w-[4%]">
    <label>
      <input type="checkbox" id="select-all" class="checkbox">
    </label>
  </th>
  {{ table_macros.sort_header('date', 'Date', '/inbox', '#inbox-table', '#filter-bar, #pagination-page-size', sort, dir, 'w-[11%]') }}
  {{ table_macros.sort_header('amount', 'Amount ($)', '/inbox', '#inbox-table', '#filter-bar, #pagination-page-size', sort, dir, 'w-[9%] text-right') }}
  {{ table_macros.sort_header('description', 'Description', '/inbox', '#inbox-table', '#filter-bar, #pagination-page-size', sort, dir, 'w-[28%]') }}
  <th class="w-[15%]">Category</th>
  <th class="w-[19%]">External</th>
  <th class="w-[14%]"></th>
</tr>
