<tr id="category-{{ category.id }}">
  <td>
    <span class="cursor-pointer hover:underline"
          hx-get="/categories/{{ category.id }}/edit-name"
          hx-target="this"
          hx-swap="innerHTML">{{ category.name }}</span>
  </td>
  <td>{{ category.txn_count | default(0) }}</td>
  <td>
    <a href="/explore?category={{ category.name | urlencode }}"
       class="btn btn-ghost btn-xs"
       title="View in Explore">
      <i data-lucide="compass" class="w-4 h-4"></i>
    </a>
  </td>
</tr>
