{# 
  Data page transaction table - uses unified _transaction_table.html partial.
  Date range presets are in _transaction_date_range.html.
#}
{# Date range filter with presets #}
{% include "shared/_transaction_date_range.jinja2" %}
{# Transaction table with sort/filter headers #}
{% include "shared/_transaction_table.jinja2" %}
