{#
  External accounts table rendered with Tabulator in fully remote mode.
  Data comes from POST /api/external-accounts/table.
#}
<div id="external-accounts-table-root">
  <div id="external-accounts-table"></div>
</div>
<script src="/static/js/pages/external-accounts-table.js?v={{ js_version }}"></script>
